{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Import Excel' %}
</div>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            <h2>Upload Excel Data</h2>
            <div class="form-row">
                {{ form.as_p }}
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Upload" class="default" name="_save">
        </div>
    </form>
{% endblock %}
